<ul class="nav">
  <li><LinkTo @route="index">About</LinkTo></li>
  <li><LinkTo @route="photography">Photography</LinkTo></li>
  <li><LinkTo @route="art">Art</LinkTo></li>
  <li><LinkTo @route="bird-watching">Bird Watching</LinkTo></li>
</ul>