{{page-title "Art"}}

{{#each this.artEntries as |art|}}
  <div class="art-container display-flex flex-col">   
    <ImageViewer @imgSrc={{asset-url art.image}} @imgDesc={{art.description}} />
  </div>   
{{/each}}


