{{page-title "BirdWatching"}}

{{#each this.birds as |bird|}}
  <div class="bird-container display-flex flex-col">   
    <img class="bird-image" src={{asset-url bird.image}} alt="a photo of bird" />
    <span class="subtitle">{{bird.description}}, spotted in {{bird.location}}</span>
  </div>   
{{/each}}