{{page-title "BirdWatching"}}

{{#each this.birds as |bird|}}
  <div class="bird-container display-flex flex-col">   
    <ImageViewer 
      @imgSrc={{asset-url bird.image}} 
      @imgAlt="a photo of a bird" 
      @imgDesc="{{bird.description}}, spotted in {{bird.location}}" 
    />
  </div>   
{{/each}}