{{page-title "About"}}
<p>Building the desktop experience at <a href="http://www.linkedin.com">LinkedIn</a>. Went to the <a href="https://washington.edu">University of Washington</a>, studied computer science. Past experience includes interning at Amazon, building websites for side projects, and teaching assistant in <a href="http://courses.cs.washington.edu/courses/cse154/16wi/">web programming</a> and <a href="https://courses.cs.washington.edu/courses/cse414/15sp/">databases</a>.</p>

<p>Hobbies include bird watching, painting, reading, and going outside.</p>

<p>Email me @ <a href="mailto:uhelen94+gh@gmail.com?Subject=yoyoyowhatup">uhelen94@gmail.com</a></p>
<p><a href="https://www.linkedin.com/in/helenung/">LinkedIn</a> &middot; <a href="https://github.com/helenung/">GitHub</a></p>
<p></p>

<img class="me-image" src={{asset-url "helen2.jpg"}} alt="self photo" />
