{{page-title "Photography"}}
{{#each this.photos as |photo|}}
  <div class="display-flex flex-col align-center">   
    <ImageViewer 
      @imgSrc={{asset-url photo}} 
      @imgAlt="a photo that I took" 
    />
  </div>
{{/each}}